header {
  .cart {
    position: relative;
    .pcs {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 19px;
      height: 19px;
      background-color: $colorPink;
      color: white;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      border-radius: 50%;
      top: -10px;
      right: 0;
    }
  }
}
.basket__head {
  height: 148px;
  background: rgba(248, 243, 244, 1);
  .container {
    padding-left: 16px;
    display: flex;
    align-items: center;
    height: inherit;
    @media (max-width: 768px) {
      justify-content: center;
    }
    .name {
      font-size: 24px;
      font-weight: 400;
      line-height: 29px;
      color: rgba(241, 109, 127, 1);
    }
  }
}
.basket__cards {
  margin-top: 96px;
  margin-bottom: 128px;
  .container {
    padding: 0 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1024px) {
      display: block;
    }
    .left {
      width: 652px;
      @media (max-width: 1024px) {
        width: 100%;
      }
      .cards {
        position: relative;
        height: 306px;
        box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
        display: flex;
        @media (max-width: 768px) {
          height: 188px;
        }
        .image {
          width: 262px;
          img {
            width: inherit;
            height: inherit;
          }
          @media (max-width: 768px) {
            width: 144px;
            height: 188px;
          }
        }
        .description {
          width: 262px;
          margin-top: 22px;
          margin-left: 31px;
          @media (max-width: 768px) {
            margin-top: 5px;
            margin-left: 5px;
          }
          .name {
            margin-bottom: 42px;
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
            color: rgba(34, 34, 34, 1);
            @media (max-width: 768px) {
              margin-bottom: 24px;

              font-size: 16px;
              font-weight: 400;
              line-height: 19px;
            }
          }
          .price {
            color: rgba(87, 87, 87, 1);
            font-size: 22px;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 6px;
            @media (max-width: 768px) {
              font-size: 14px;
              font-weight: 400;
              line-height: 17px;
            }

            span {
              color: $colorPink;
            }
          }
          .color {
            color: rgba(87, 87, 87, 1);

            font-size: 22px;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 6px;
            @media (max-width: 768px) {
              font-size: 14px;
              font-weight: 400;
              line-height: 17px;
            }
          }
          .size {
            color: rgba(87, 87, 87, 1);

            font-size: 22px;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 6px;
            @media (max-width: 768px) {
              font-size: 14px;
              font-weight: 400;
              line-height: 17px;
            }
          }
          .quanity {
            display: flex;
            color: rgba(87, 87, 87, 1);

            font-size: 22px;
            font-weight: 400;
            line-height: 26px;
            @media (max-width: 768px) {
              font-size: 14px;
              font-weight: 400;
              line-height: 17px;
            }

            span {
              box-sizing: border-box;
              display: block;
              text-align: center;
              width: 44px;
              height: 25px;
              border: 1px solid rgba(234, 234, 234, 1);
              margin-left: 24px;
              color: rgba(101, 101, 101, 1);
              font-size: 18px;
              font-weight: 400;
              line-height: 22px;
              @media (max-width: 768px) {
                font-size: 10px;
                font-weight: 400;
                line-height: 12px;
              }
            }
          }
        }
        .close {
          position: absolute;
          top: 28px;
          right: 22px;
          @media (max-width: 768px) {
            top: 12px;
            right: 12px;
          }
        }
      }
      .cards:nth-child(2) {
        margin-top: 40px;
      }
      .button {
        cursor: pointer;
        margin-top: 72px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1024px) {
          width: 508px;
          margin: 72px auto 0 auto;
        }
        @media (max-width: 768px) {
          width: auto;
          margin: 72px auto 0 auto;
        }
        .click {
          display: flex;
          align-items: center;
          color: rgba(0, 0, 0, 1);
          font-size: 14px;
          font-weight: 300;
          line-height: 17px;
          box-sizing: border-box;
          height: 50px;
          padding: 17px 40px;
          border: 1px solid rgba(164, 164, 164, 1);
          @media (max-width: 768px) {
            padding: 0 10px;
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
          }
          @media (max-width: 374px) {
            padding: 0 10px;
            font-size: 10px;
            font-weight: 400;
            line-height: 12px;
          }
        }
        .click:hover {
          transition: 0.3s;
          background-color: $colorPink;
          color: rgb(255, 255, 255);
        }
      }
    }
    .rigth {
      @media (max-width: 1024px) {
        margin-top: 64px;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      @media (max-width: 768px) {
        width: 100%;
        margin-top: 64px;
        display: block;
      }
      .getMenu {
        label {
          font-size: 16px;
          font-weight: 300;
          line-height: 19px;

          color: rgba(34, 34, 34, 1);
          display: flex;
          flex-direction: column;
          gap: 20px;
          input {
            border: 1px solid rgba(164, 164, 164, 1);
            height: 45px;
            padding-left: 17px;
          }
          input::placeholder {
            color: rgba(34, 34, 34, 1);
          }
          input:nth-child(1)::placeholder {
            color: rgba(177, 177, 177, 1);
          }

          button {
            cursor: pointer;
            border-color: rgba(255, 255, 255, 1);
            font-size: 11px;
            font-weight: 300;
            line-height: 13px;
            color: rgba(74, 74, 74, 1);
            display: block;
            height: 35px;
            width: 100px;
            border: 1px solid rgba(164, 164, 164, 1);
          }
          button:hover {
            transition: 0.3s;
            background-color: $colorPink;
            color: rgb(255, 255, 255);
          }
        }
      }
      .total {
        margin-top: 57px;
        padding: 40px 34px;
        .sub {
          margin-bottom: 12px;
          text-align: right;

          font-size: 11px;
          font-weight: 400;
          line-height: 13px;
        }
        .grand {
          text-align: right;
          font-size: 16px;
          font-weight: 300;
          line-height: 19px;

          span {
            color: $colorPink;
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
          }
        }
        hr {
          color: rgba(226, 226, 226, 1);
          margin-top: 21px;
          margin-bottom: 17px;
        }
        button {
          cursor: pointer;
          display: block;
          margin: 0 auto;
          max-width: 273px;
          height: 50px;
          border: 1px solid rgba(164, 164, 164, 1);

          font-size: 16px;
          font-weight: 300;
          line-height: 19px;
          color: rgb(0, 0, 0);
          background-color: white;
        }
        button:hover {
          transition: 0.3s;
          background-color: $colorPink;
          color: rgb(255, 255, 255);
        }
      }
    }
  }
}
