@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import "vars";
body,
html {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  font-family: "Lato";
  box-sizing: border-box;
}
@media (min-width: 1600px) {
  .container {
    width: 1140px;
    margin: 0 auto;
  }
}
header {
  height: 75px;
  width: 100%;
  background-color: #222222;
  .container {
    height: inherit;
    .content {
      margin-left: 16px;
      margin-right: 16px;
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left {
        width: 111px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
          height: 44px;
          width: 38px;
        }
        .search {
          display: contents;
          width: 30px;
          height: 30px;
        }
      }
      .rigth {
        width: 170px;
        display: flex;
        align-items: center;
        justify-content: end;
        @media (min-width: 768px) {
          justify-content: space-between;
        }
        .bars {
          width: 30px;
        }
        .user {
          width: 30px;

          display: none;
          @media (min-width: 768px) {
            display: block;
          }
        }
        .cart {
          width: 30px;
          display: none;
          @media (min-width: 768px) {
            display: block;
          }
        }
      }
    }
  }
}
.head {
  position: relative;
  background-color: #f1e4e6;
  width: 100%;
  height: 363px;
  @media (min-width: 1280px) {
    height: 764px;
  }
  .content {
    align-items: center;
    display: flex;
    justify-content: center;
    height: inherit;
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .left {
      display: none;
      @media (min-width: 768px) {
        height: inherit;
        display: block;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .rigth {
      padding-left: 15px;
      border-left: 12px solid #f16d7f;
      h2 {
        font-size: 38px;
        margin: 0;
        @media (min-width: 768px) {
          font-size: 44px;
        }
        @media (min-width: 1024px) {
          font-size: 48px;
        }
      }
      h3 {
        font-size: 20px;
        margin: 0;
        @media (min-width: 768px) {
          font-size: 24px;
        }
        @media (min-width: 1024px) {
          font-size: 32px;
        }
        span {
          color: #f16d7f;
        }
      }
    }
    .darkMenu {
      z-index: 1;
      background-color: rgba(58, 45, 45, 0.5);
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .hidden {
      display: none;
    }
  }
  .menu {
    z-index: 5;
    padding: 32px;
    background-color: #ffffff;
    width: 232px;
    position: absolute;
    top: 0;
    right: 0;
    .xmark {
      cursor: pointer;
      position: absolute;
      top: 32px;
      right: 32px;
      path {
        fill: #000000;
      }
    }
    h3 {
      font-weight: 700;
      font-size: 14px;
      color: #000000;
      margin: 0;
    }
    ul {
      padding-left: 0;
      list-style-type: none;
      a {
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        color: #f16d7f;
      }
      li {
        padding-top: 10px;
        a {
          line-height: 25px;
          margin-left: 30px;
          color: #6f6e6e;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
    @media (max-width: 1279px) {
      box-sizing: border-box;
      height: 363px;
      overflow: scroll;
      padding: 16px;
      background-color: #ffffff;
      width: 150px;
      position: absolute;
      top: 0;
      right: 0;
      .xmark {
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 15px;
      }
      h3 {
        font-weight: 700;
        font-size: 10px;
        color: #000000;
        margin: 0;
      }
      ul {
        padding-left: 0;
        list-style-type: none;
        a {
          text-decoration: none;
          font-weight: 400;
          font-size: 10px;
          color: #f16d7f;
        }
        li {
          padding-top: 2px;
          a {
            line-height: 10px;
            margin-left: 30px;
            color: #6f6e6e;
            font-size: 10px;
            font-weight: 400;
          }
        }
      }
    }
  }
  .hidden {
    display: none;
  }
}
.offer {
  .container {
    padding: 64px 16px 0 16px;
    .tabble {
      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        .cards4 {
          grid-column: 1/4;
        }
      }
      a {
        text-decoration: none;
      }
      .cards {
        position: relative;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        .text {
          z-index: 3;
          .up {
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
          }
          .down {
            color: #f16d7f;
            font-size: 24px;
            font-weight: 700;
          }
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
          height: inherit;
          width: 100%;
          filter: brightness(30%);
        }
      }
      .cards:not(:nth-child(4)) {
        margin-bottom: 32px;
        @media (min-width: 768px) {
          margin-bottom: 0;
        }
      }
      .cards1 {
        width: 100%;
        height: 247px;
      }
      .cards2 {
        width: 100%;
        height: 247px;
      }
      .cards3 {
        width: 100%;
        height: 247px;
      }
      .cards4 {
        width: 100%;
        height: 111px;
      }
    }
  }
}
.products {
  margin-top: 64px;
  padding: 0 8px;
  @media (min-width: 1024px) {
    padding: 0;
  }
  .container {
    .header {
      margin: 0 auto;

      .up {
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        color: #222222;
      }
      .down {
        margin-top: 3px;
        margin-bottom: 65px;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: #9f9f9f;
      }
    }
    .items {
      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
      }
      @media (min-width: 1600px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
      }
      .cards {
        transition: 0.3s;

        cursor: pointer;
        .img {
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 100%;
          }

          .text {
            padding: 14px;
            box-sizing: border-box;
            border: 1px solid white;
            color: rgba(255, 255, 255, 1);
            position: absolute;
            display: none;
          }
        }
        .name {
          margin-top: 25px;
          margin-bottom: 13px;
          font-size: 13px;
          font-weight: 400;
          color: #222222;
        }
        .description {
          font-size: 14px;
          font-weight: 300;
          color: #5d5d5d;
        }
        .price {
          margin-top: 18px;
          margin-bottom: 20px;
          font-size: 16px;
          font-weight: 400;
          color: #f16d7f;
        }
      }
      :hover {
        img {
          transition: 0.3s;
          filter: brightness(40%);
        }
        .img .text {
          display: block;
          display: flex;
          align-items: center;
          gap: 15px;
        }
      }
    }

    button {
      transition: 0.5s;

      display: block;
      text-align: center;
      cursor: pointer;
      background-color: #f8f8f8;
      margin: 41px auto 96px auto;
      height: 48px;
      width: 212px;
      font-weight: 400;
      font-size: 16px;
      color: #f26376;
      border: 1px solid #ff6a6a;
      @media (min-width: 768px) {
        margin-top: 33px;
        margin-bottom: 65px;
      }
      @media (min-width: 1024px) {
        margin-top: 48px;
        margin-bottom: 96px;
      }
    }
    button:hover {
      background-color: #f16d7f;
      color: #f8f8f8;
    }
  }
}
.delivery {
  background-color: #222224;
  padding-top: 48px;
  padding-bottom: 81px;
  @media (min-width: 1024px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .container {
    text-align: center;
    @media (min-width: 1024px) {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .cont:nth-child(2) {
      margin-top: 45px;
      margin-bottom: 45px;
    }
    .cont {
      transition: 1s;
      cursor: pointer;
      img {
        height: 31px;
        width: 43px;
      }
      .name {
        margin-top: 27px;
        margin-bottom: 15px;
        color: #fbfbfb;
        font-size: 20px;
        font-weight: 400;
      }
      .description {
        font-size: 14px;
        font-weight: 300;
        color: #fbfbfb;
      }
    }
    .cont:hover {
      background-color: #fff;
      .name,
      .description {
        color: #000000;
      }
    }
  }
}
.take {
  background: url(img/backImg.png) no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 64px;
  padding-bottom: 109px;
  .container {
    @media (min-width: 1024px) {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .founder {
      text-align: center;
      img {
        margin-top: 55px;
        width: 120px;
        height: 120px;
        border-radius: 50%;
      }
      .quote {
        margin-top: 20px;
        font-size: 19px;
        font-weight: 400;
        color: #222224;
      }
    }
    .subscribe {
      text-align: center;
      margin-top: 60px;
      .text_1 {
        font-size: 24px;
        font-weight: 700;
      }
      .text_2 {
        font-size: 14px;
        font-weight: 400;
      }
      .message {
        margin-top: 20px;
        form {
          display: inline-flex;
          input {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            padding: 0;
            padding-left: 20px;
            border: 0;
            background-color: #e1e1e1;
            height: 47px;
          }
          ::placeholder {
            color: #222224;
            font-size: 14px;
            font-weight: normal;
          }
          button {
            cursor: pointer;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            width: 96px;
            font-size: 14px;
            font-weight: normal;
            color: #ffffff;
            background-color: #f16d7f;
            border: 0;
            padding: 0;
            height: 47px;
          }
        }
      }
    }
  }
}
footer {
  background-color: #222224;
  padding-top: 43px;
  padding-bottom: 9px;
  @media (min-width: 768px) {
    padding: 24px;
  }
  .container {
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
    }
    .messager {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .icon {
        background-color: #ffffff;
        fill: #000000;
        width: 32px;
        height: 32px;
      }
      :hover path {
        background-color: rgb(255, 255, 255);
        fill: #f16d7f;
      }

      :not(:nth-child(4)) {
        margin-right: 10px;
      }
    }

    .copyrigth {
      text-align: center;
      margin-top: 40px;
      font-size: 16px;
      font-weight: 400;
      color: #fbfbfb;
      @media (min-width: 768px) {
        margin-top: 0;
      }
    }
  }
}
//????????????????  PRODUCT
.head__product {
  background-color: #f8f3f4;
  padding-top: 24px;
  padding-bottom: 46px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding: 0 16px;
  }
  .container {
    @media (min-width: 768px) {
      height: 148px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .left {
      .text {
        text-align: center;
        font-family: Lato;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;

        color: #f16d7f;
      }
    }
    .rigth {
      padding-top: 40px;
      text-align: center;
      a {
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        letter-spacing: 0em;
        text-decoration: none;
        color: #636363;
      }
      span {
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        text-align: left;
        color: #f16d7f;
      }
      @media (min-width: 768px) {
        padding-top: 0;
      }
    }
  }
  .menu {
    z-index: 5;
    padding: 32px;
    background-color: #ffffff;
    width: 232px;
    position: absolute;
    top: 75px;
    right: 0;
    .xmark {
      cursor: pointer;
      position: absolute;
      top: 32px;
      right: 32px;
      path {
        fill: #000000;
      }
    }
    h3 {
      font-weight: 700;
      font-size: 14px;
      color: #000000;
      margin: 0;
    }
    ul {
      padding-left: 0;
      list-style-type: none;
      a {
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        color: #f16d7f;
      }
      li {
        padding-top: 10px;
        a {
          line-height: 25px;
          margin-left: 30px;
          color: #6f6e6e;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
    @media (max-width: 1279px) {
      box-sizing: border-box;
      height: 363px;
      overflow: scroll;
      padding: 16px;
      background-color: #ffffff;
      width: 150px;
      position: absolute;
      top: 75px;
      right: 0;
      .xmark {
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 15px;
      }
      h3 {
        font-weight: 700;
        font-size: 10px;
        color: #000000;
        margin: 0;
      }
      ul {
        padding-left: 0;
        list-style-type: none;
        a {
          text-decoration: none;
          font-weight: 400;
          font-size: 10px;
          color: #f16d7f;
        }
        li {
          padding-top: 2px;
          a {
            line-height: 10px;
            margin-left: 30px;
            color: #6f6e6e;
            font-size: 10px;
            font-weight: 400;
          }
        }
      }
    }
  }
  .hidden {
    display: none;
  }
}
.product__slader {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  height: 624px;
  width: 100%;
  @media (min-width: 1600px) {
    height: 777px;
  }
  @media (min-width: 768px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  img {
    margin-top: 80px;
    margin-bottom: 80px;
    box-sizing: border-box;
    width: 320px;

    @media (min-width: 768px) {
      margin: 0;
      width: 466px;
      height: 565px;
    }
    @media (min-width: 1600px) {
      width: 597px;
      height: 724px;
    }
  }
  .left {
    cursor: pointer;
    background-color: #2a2a2a26;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 47px;
    height: 47px;
    top: 40%;
  }
  .left:hover path {
    fill: $colorPink;
  }
  .rigth {
    cursor: pointer;
    background-color: #2a2a2a26;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 47px;
    height: 47px;
    top: 40%;
    right: 0;
  }
  .rigth:hover path {
    fill: $colorPink;
  }
  path {
    fill: #000000;
  }
}
.product__description {
  .container {
    padding: 64px 25px;
    box-sizing: border-box;
    text-align: center;
    @media (min-width: 1600px) {
      margin-top: -200px;
    }
    h3 {
      font-size: 14px;
      font-weight: 300;
      line-height: 17px;
      color: $colorPink;
    }
    hr {
      margin-top: 12px;
      margin-bottom: 12px;
      width: 63px;
      height: 3px;
      background-color: $colorPink;
      border: 0;
    }
    h2 {
      font-size: 18px;
      font-weight: 300;
      line-height: 22px;
      color: #4d4d4d;
    }
    .description {
      margin: 32px auto;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      color: #5e5e5e;
      @media (min-width: 768px) {
        width: 555px;
      }
    }
    .price {
      margin: 0 auto;
      padding-bottom: 32px;
      width: 175px;
      font-size: 24px;
      font-weight: 300;
      line-height: 31px;
      color: $colorPink;
      border-bottom: 1px solid #cecece;
      @media (min-width: 768px) {
        width: 642px;
        padding-bottom: 64px;
      }
    }
    .filter {
      margin: 50px auto;
      max-width: 400px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .child {
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
        color: #6f6e6e;
      }
    }
    .button {
      border: 1px solid $colorPink;
      padding-left: 40px;
      padding-right: 20px;
      height: 50px;
      width: 212px;
      margin: 64px auto 64px auto;
      display: flex;
      align-items: center;
      img {
        width: 25px;
        height: 25px;
      }
      .text {
        margin-left: 30px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: $colorPink;
      }
    }
  }
}
.product__products {
  .container {
    padding: 64px 9px;
    .cards:nth-child(2) {
      display: none;
    }
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;

      .cards:nth-child(2) {
        display: block;
      }
      .cards:nth-child(3) {
        display: none;
      }
    }
    @media (min-width: 1600px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 30px;

      .cards:nth-child(3) {
        display: block;
      }
    }
    .cards {
      max-width: 360px;
      text-align: center;
      margin: 0 auto;
      @media (min-width: 768px) {
        margin: 0;
      }
      img {
        width: 100%;
        max-width: 360px;
        max-height: 420px;
      }
      .name {
        margin-top: 24px;
        margin-bottom: 12px;

        font-size: 13px;
        font-weight: 400;

        text-align: left;
      }
      .description {
        color: #5d5d5d;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;

        text-align: left;
      }
      .price {
        color: $colorPink;
        margin-top: 18px;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;

        text-align: left;
      }
    }
  }
}

//???????????????????? CATALOG
summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.filter {
  box-sizing: border-box;
  padding-top: 39px;
  position: relative;
  height: 132px;

  .container {
    display: flex;
    gap: 30px;
    height: inherit;
    padding: 0 16px;
  }
  &__details {
    width: 360px;
    &[open] {
      color: $colorPink;
      path {
        fill: $colorPink;
      }
    }
    &[open] {
      background: rgba(255, 255, 255, 1);
      box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    }
  }
  &__summary {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    padding: 13px 16px;
    display: flex;
    align-items: center;
    gap: 11px;
  }

  &__content {
    top: 35px;
    padding: 16px;
    background: rgba(255, 255, 255, 1);
  }
  &__item {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: rgba(111, 110, 110, 1);
  }
  &__item[open] {
    color: $colorPink;
  }
  &__head {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding: 11px;
    border-bottom: 1px solid rgba(235, 235, 235, 1);
    border-left: 5px solid $colorPink;
  }
  &__link-box {
    padding: 24px 17px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    a {
      color: rgba(111, 110, 110, 1);
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      text-decoration: none;
    }
    a:hover {
      color: $colorPink;
    }
  }
  &__center {
    padding-top: 10px;
    display: flex;
    gap: 28px;
    details {
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      color: rgba(111, 110, 110, 1);

      position: relative;
      summary {
        display: flex;
        gap: 10px;
        align-items: center;
      }
    }
    .sizeBlock {
      display: flex;
      flex-direction: column;
      gap: 9px;
      top: 25px;
      left: -10px;
      padding: 7px 9px;
      position: absolute;
      width: 60px;
      box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
      background: rgba(255, 255, 255, 1);

      .chekBlock {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        display: flex;
        gap: 9px;
      }
    }
  }
}
.catalog__cards {
  .container {
    padding: 0 16px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    .cards {
      cursor: pointer;
      max-width: 360px;
      text-align: center;
      margin: 0 auto;
      .img {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
          max-width: 360px;
          max-height: 420px;
        }

        .text {
          padding: 14px;
          box-sizing: border-box;
          border: 1px solid white;
          color: rgba(255, 255, 255, 1);
          position: absolute;
          display: none;
        }
      }

      .name {
        margin-top: 24px;
        margin-bottom: 12px;

        font-size: 13px;
        font-weight: 400;

        text-align: left;
      }
      .description {
        color: #5d5d5d;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;

        text-align: left;
      }
      .price {
        color: $colorPink;
        margin-top: 18px;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;

        text-align: left;
      }
    }
    :hover {
      img {
        transition: 0.3s;
        filter: brightness(40%);
      }
      .img .text {
        display: block;
        display: flex;
        align-items: center;
        gap: 15px;
      }
    }
  }
}
