@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.filter {
  box-sizing: border-box;
  padding-top: 39px;
  position: relative;
  height: 132px;
}
.filter .container {
  display: flex;
  gap: 30px;
  height: inherit;
  padding: 0 16px;
}
.filter__details {
  width: 360px;
}
.filter__details[open] {
  color: #ff6a6a;
}
.filter__details[open] path {
  fill: #ff6a6a;
}
.filter__details[open] {
  background: rgb(255, 255, 255);
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
}
.filter__summary {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  padding: 13px 16px;
  display: flex;
  align-items: center;
  gap: 11px;
}
.filter__content {
  top: 35px;
  padding: 16px;
  background: rgb(255, 255, 255);
}
.filter__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: rgb(111, 110, 110);
}
.filter__item[open] {
  color: #ff6a6a;
}
.filter__head {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 11px;
  border-bottom: 1px solid rgb(235, 235, 235);
  border-left: 5px solid #ff6a6a;
}
.filter__link-box {
  padding: 24px 17px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.filter__link-box a {
  color: rgb(111, 110, 110);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.filter__link-box a:hover {
  color: #ff6a6a;
}
.filter__center {
  padding-top: 10px;
  display: flex;
  gap: 28px;
}
.filter__center details {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: rgb(111, 110, 110);
  position: relative;
}
.filter__center details summary {
  display: flex;
  gap: 10px;
  align-items: center;
}
.filter__center .sizeBlock {
  display: flex;
  flex-direction: column;
  gap: 9px;
  top: 25px;
  left: -10px;
  padding: 7px 9px;
  position: absolute;
  width: 60px;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  background: rgb(255, 255, 255);
}
.filter__center .sizeBlock .chekBlock {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  gap: 9px;
}

.catalog__cards .container {
  padding: 0 16px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.catalog__cards .container .cards {
  cursor: pointer;
  max-width: 360px;
  text-align: center;
  margin: 0 auto;
}
.catalog__cards .container .cards .img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalog__cards .container .cards .img img {
  width: 100%;
  max-width: 360px;
  max-height: 420px;
}
.catalog__cards .container .cards .img .text {
  padding: 14px;
  box-sizing: border-box;
  border: 1px solid white;
  color: rgb(255, 255, 255);
  position: absolute;
  display: none;
}
.catalog__cards .container .cards .name {
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}
.catalog__cards .container .cards .description {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: left;
}
.catalog__cards .container .cards .price {
  color: #ff6a6a;
  margin-top: 18px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}
.catalog__cards .container :hover img {
  transition: 0.3s;
  filter: brightness(40%);
}
.catalog__cards .container :hover .img .text {
  display: block;
  display: flex;
  align-items: center;
  gap: 15px;
}

.head__product {
  background-color: #f8f3f4;
  padding-top: 24px;
  padding-bottom: 46px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .head__product {
    padding: 0 16px;
  }
}
@media (min-width: 768px) {
  .head__product .container {
    height: 148px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.head__product .container .left .text {
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #f16d7f;
}
.head__product .container .rigth {
  padding-top: 40px;
  text-align: center;
}
.head__product .container .rigth a {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  text-decoration: none;
  color: #636363;
}
.head__product .container .rigth span {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  color: #f16d7f;
}
@media (min-width: 768px) {
  .head__product .container .rigth {
    padding-top: 0;
  }
}
.head__product .menu {
  z-index: 5;
  padding: 32px;
  background-color: #ffffff;
  width: 232px;
  position: absolute;
  top: 75px;
  right: 0;
}
.head__product .menu .xmark {
  cursor: pointer;
  position: absolute;
  top: 32px;
  right: 32px;
}
.head__product .menu .xmark path {
  fill: #000000;
}
.head__product .menu h3 {
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  margin: 0;
}
.head__product .menu ul {
  padding-left: 0;
  list-style-type: none;
}
.head__product .menu ul a {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: #f16d7f;
}
.head__product .menu ul li {
  padding-top: 10px;
}
.head__product .menu ul li a {
  line-height: 25px;
  margin-left: 30px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
}
.head__product .menu ul li :hover {
  color: #ff6a6a;
}
@media (max-width: 1279px) {
  .head__product .menu {
    box-sizing: border-box;
    height: 363px;
    overflow: scroll;
    padding: 16px;
    background-color: #ffffff;
    width: 150px;
    position: absolute;
    top: 75px;
    right: 0;
  }
  .head__product .menu .xmark {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .head__product .menu h3 {
    font-weight: 700;
    font-size: 10px;
    color: #000000;
    margin: 0;
  }
  .head__product .menu ul {
    padding-left: 0;
    list-style-type: none;
  }
  .head__product .menu ul a {
    text-decoration: none;
    font-weight: 400;
    font-size: 10px;
    color: #f16d7f;
  }
  .head__product .menu ul li {
    padding-top: 2px;
  }
  .head__product .menu ul li a {
    line-height: 10px;
    margin-left: 30px;
    color: #6f6e6e;
    font-size: 10px;
    font-weight: 400;
  }
}
.head__product .hidden {
  display: none;
}

.product__slader {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  height: 624px;
  width: 100%;
}
@media (min-width: 1600px) {
  .product__slader {
    height: 777px;
  }
}
@media (min-width: 768px) {
  .product__slader {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.product__slader img {
  margin-top: 80px;
  margin-bottom: 80px;
  box-sizing: border-box;
  width: 320px;
}
@media (min-width: 768px) {
  .product__slader img {
    margin: 0;
    width: 466px;
    height: 565px;
  }
}
@media (min-width: 1600px) {
  .product__slader img {
    width: 597px;
    height: 724px;
  }
}
.product__slader .left {
  cursor: pointer;
  background-color: rgba(42, 42, 42, 0.1490196078);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 47px;
  height: 47px;
  top: 40%;
}
.product__slader .left:hover path {
  fill: #ff6a6a;
}
.product__slader .rigth {
  cursor: pointer;
  background-color: rgba(42, 42, 42, 0.1490196078);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 47px;
  height: 47px;
  top: 40%;
  right: 0;
}
.product__slader .rigth:hover path {
  fill: #ff6a6a;
}
.product__slader path {
  fill: #000000;
}

.product__description .container {
  padding: 64px 25px;
  box-sizing: border-box;
  text-align: center;
}
@media (min-width: 1600px) {
  .product__description .container {
    margin-top: -200px;
  }
}
.product__description .container h3 {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #ff6a6a;
}
.product__description .container hr {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 63px;
  height: 3px;
  background-color: #ff6a6a;
  border: 0;
}
.product__description .container h2 {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  color: #4d4d4d;
}
.product__description .container .description {
  margin: 32px auto;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #5e5e5e;
}
@media (min-width: 768px) {
  .product__description .container .description {
    width: 555px;
  }
}
.product__description .container .price {
  margin: 0 auto;
  padding-bottom: 32px;
  width: 175px;
  font-size: 24px;
  font-weight: 300;
  line-height: 31px;
  color: #ff6a6a;
  border-bottom: 1px solid #cecece;
}
@media (min-width: 768px) {
  .product__description .container .price {
    width: 642px;
    padding-bottom: 64px;
  }
}
.product__description .container .filter {
  margin: 50px auto;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product__description .container .filter .child {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: #6f6e6e;
}
.product__description .container .button {
  border: 1px solid #ff6a6a;
  padding-left: 40px;
  padding-right: 20px;
  height: 50px;
  width: 212px;
  margin: 64px auto 64px auto;
  display: flex;
  align-items: center;
}
.product__description .container .button img {
  width: 25px;
  height: 25px;
}
.product__description .container .button .text {
  margin-left: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #ff6a6a;
}

.product__products .container {
  padding: 64px 9px;
}
.product__products .container .cards:nth-child(2) {
  display: none;
}
@media (min-width: 768px) {
  .product__products .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .product__products .container .cards:nth-child(2) {
    display: block;
  }
  .product__products .container .cards:nth-child(3) {
    display: none;
  }
}
@media (min-width: 1600px) {
  .product__products .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }
  .product__products .container .cards:nth-child(3) {
    display: block;
  }
}
.product__products .container .cards {
  max-width: 360px;
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .product__products .container .cards {
    margin: 0;
  }
}
.product__products .container .cards img {
  width: 100%;
  max-width: 360px;
  max-height: 420px;
}
.product__products .container .cards .name {
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}
.product__products .container .cards .description {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: left;
}
.product__products .container .cards .price {
  color: #ff6a6a;
  margin-top: 18px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}

header .cart {
  position: relative;
}
header .cart .pcs {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 19px;
  height: 19px;
  background-color: #ff6a6a;
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  border-radius: 50%;
  top: -10px;
  right: 0;
}

.basket__head {
  height: 148px;
  background: rgb(248, 243, 244);
}
.basket__head .container {
  display: flex;
  align-items: center;
  height: inherit;
}
.basket__head .container .name {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: rgb(241, 109, 127);
}

.basket__cards {
  margin-top: 96px;
  margin-bottom: 128px;
}
.basket__cards .container {
  display: flex;
  justify-content: space-between;
}
.basket__cards .container .left {
  width: 652px;
}
.basket__cards .container .left .cards {
  position: relative;
  height: 306px;
  box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
  display: flex;
}
.basket__cards .container .left .cards .image {
  width: 262px;
}
.basket__cards .container .left .cards .description {
  width: 262px;
  margin-top: 22px;
  margin-left: 31px;
}
.basket__cards .container .left .cards .description .name {
  margin-bottom: 42px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: rgb(34, 34, 34);
}
.basket__cards .container .left .cards .description .price {
  color: rgb(87, 87, 87);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 6px;
}
.basket__cards .container .left .cards .description .price span {
  color: #ff6a6a;
}
.basket__cards .container .left .cards .description .color {
  color: rgb(87, 87, 87);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 6px;
}
.basket__cards .container .left .cards .description .size {
  color: rgb(87, 87, 87);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 6px;
}
.basket__cards .container .left .cards .description .quanity {
  display: flex;
  color: rgb(87, 87, 87);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}
.basket__cards .container .left .cards .description .quanity span {
  box-sizing: border-box;
  display: block;
  text-align: center;
  width: 44px;
  height: 25px;
  border: 1px solid rgb(234, 234, 234);
  margin-left: 24px;
  color: rgb(101, 101, 101);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
.basket__cards .container .left .cards .close {
  position: absolute;
  top: 28px;
  right: 22px;
}
.basket__cards .container .left .cards:nth-child(2) {
  margin-top: 40px;
}
.basket__cards .container .left .button {
  cursor: pointer;
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
}
.basket__cards .container .left .button .click {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  box-sizing: border-box;
  height: 50px;
  padding: 17px 40px;
  border: 1px solid rgb(164, 164, 164);
}
.basket__cards .container .left .button .click:hover {
  transition: 0.3s;
  background-color: #ff6a6a;
  color: rgb(255, 255, 255);
}
.basket__cards .container .rigth {
  width: 360px;
}
.basket__cards .container .rigth .getMenu label {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: rgb(34, 34, 34);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.basket__cards .container .rigth .getMenu label input {
  border: 1px solid rgb(164, 164, 164);
  height: 45px;
  padding-left: 17px;
}
.basket__cards .container .rigth .getMenu label input::-moz-placeholder {
  color: rgb(34, 34, 34);
}
.basket__cards .container .rigth .getMenu label input::placeholder {
  color: rgb(34, 34, 34);
}
.basket__cards .container .rigth .getMenu label input:nth-child(1)::-moz-placeholder {
  color: rgb(177, 177, 177);
}
.basket__cards .container .rigth .getMenu label input:nth-child(1)::placeholder {
  color: rgb(177, 177, 177);
}
.basket__cards .container .rigth .getMenu label button {
  cursor: pointer;
  border-color: rgb(255, 255, 255);
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  color: rgb(74, 74, 74);
  display: block;
  height: 35px;
  width: 100px;
  border: 1px solid rgb(164, 164, 164);
}
.basket__cards .container .rigth .getMenu label button:hover {
  transition: 0.3s;
  background-color: #ff6a6a;
  color: rgb(255, 255, 255);
}
.basket__cards .container .rigth .total {
  margin-top: 57px;
  padding: 40px 34px;
}
.basket__cards .container .rigth .total .sub {
  margin-bottom: 12px;
  text-align: right;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}
.basket__cards .container .rigth .total .grand {
  text-align: right;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}
.basket__cards .container .rigth .total .grand span {
  color: #ff6a6a;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}
.basket__cards .container .rigth .total hr {
  color: rgb(226, 226, 226);
  margin-top: 21px;
  margin-bottom: 17px;
}
.basket__cards .container .rigth .total button {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 273px;
  height: 50px;
  border: 1px solid rgb(164, 164, 164);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: rgb(0, 0, 0);
  background-color: white;
}
.basket__cards .container .rigth .total button:hover {
  transition: 0.3s;
  background-color: #ff6a6a;
  color: rgb(255, 255, 255);
}

.register {
  margin-bottom: 96px;
}
.register .container {
  display: flex;
  gap: 120px;
}
.register__left {
  width: 360px;
}
.register__left label {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.register__left label input {
  border: 1px solid rgb(164, 164, 164);
  height: 45px;
  font-size: 17px;
  font-weight: 300;
  line-height: 16px;
  color: black;
}
.register__left label ::-moz-placeholder {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: rgb(164, 164, 164);
}
.register__left label ::placeholder {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: rgb(164, 164, 164);
}
.register__left label p {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: rgb(177, 177, 177);
}
.register__left label button {
  cursor: pointer;
  border: 1px solid rgb(164, 164, 164);
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  background-color: rgb(255, 255, 255);
  color: #ff6a6a;
  height: 50px;
  width: 167px;
}
.register__left label button path {
  fill: #ff6a6a;
}
.register__left label button:hover {
  transition: 0.3s;
  background-color: #ff6a6a;
  color: white;
}
.register__left label button:hover path {
  fill: white;
}
.register__checkBox {
  display: flex;
  gap: 20px;
  align-items: center;
}
.register__check {
  display: flex;
  align-items: center;
}
.register__h2 {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: rgb(34, 34, 34);
}
.register__h3 {
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  color: rgb(0, 0, 0);
}
.register__rigth {
  display: flex;
  gap: 22px;
  flex-direction: column;
  max-width: 652px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: rgb(0, 0, 0);
}
.register__rigth .offers .line {
  display: flex;
  align-items: center;
  gap: 22px;
}
.register__rigth .offers .line h2 {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: rgb(0, 0, 0);
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  font-family: "Lato";
  box-sizing: border-box;
}

@media (min-width: 1600px) {
  .container {
    width: 1140px;
    margin: 0 auto;
  }
}
header {
  height: 75px;
  width: 100%;
  background-color: #222222;
}
header .container {
  height: inherit;
}
header .container .content {
  margin-left: 16px;
  margin-right: 16px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .content .left {
  width: 111px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .content .left .logo {
  height: 44px;
  width: 38px;
}
header .container .content .left .search {
  display: contents;
  width: 30px;
  height: 30px;
}
header .container .content .rigth {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: end;
}
@media (min-width: 768px) {
  header .container .content .rigth {
    justify-content: space-between;
  }
}
header .container .content .rigth .bars {
  width: 30px;
}
header .container .content .rigth .user {
  width: 30px;
  display: none;
}
@media (min-width: 768px) {
  header .container .content .rigth .user {
    display: block;
  }
}
header .container .content .rigth .cart {
  width: 30px;
  display: none;
}
@media (min-width: 768px) {
  header .container .content .rigth .cart {
    display: block;
  }
}

.head {
  position: relative;
  background-color: #f1e4e6;
  width: 100%;
  height: 363px;
}
@media (min-width: 1280px) {
  .head {
    height: 764px;
  }
}
.head .content {
  align-items: center;
  display: flex;
  justify-content: center;
  height: inherit;
}
@media (min-width: 768px) {
  .head .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.head .content .left {
  display: none;
}
@media (min-width: 768px) {
  .head .content .left {
    height: inherit;
    display: block;
  }
  .head .content .left img {
    width: 100%;
    height: 100%;
  }
}
.head .content .rigth {
  padding-left: 15px;
  border-left: 12px solid #f16d7f;
}
.head .content .rigth h2 {
  font-size: 38px;
  margin: 0;
}
@media (min-width: 768px) {
  .head .content .rigth h2 {
    font-size: 44px;
  }
}
@media (min-width: 1024px) {
  .head .content .rigth h2 {
    font-size: 48px;
  }
}
.head .content .rigth h3 {
  font-size: 20px;
  margin: 0;
}
@media (min-width: 768px) {
  .head .content .rigth h3 {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  .head .content .rigth h3 {
    font-size: 32px;
  }
}
.head .content .rigth h3 span {
  color: #f16d7f;
}
.head .content .darkMenu {
  z-index: 1;
  background-color: rgba(58, 45, 45, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}
.head .content .hidden {
  display: none;
}
.head .menu {
  z-index: 5;
  padding: 32px;
  background-color: #ffffff;
  width: 232px;
  position: absolute;
  top: 0;
  right: 0;
}
.head .menu .xmark {
  cursor: pointer;
  position: absolute;
  top: 32px;
  right: 32px;
}
.head .menu .xmark path {
  fill: #000000;
}
.head .menu h3 {
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  margin: 0;
}
.head .menu ul {
  padding-left: 0;
  list-style-type: none;
}
.head .menu ul a {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: #f16d7f;
}
.head .menu ul li {
  padding-top: 10px;
}
.head .menu ul li a {
  line-height: 25px;
  margin-left: 30px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
}
.head .menu ul li :hover {
  color: #ff6a6a;
}
@media (max-width: 1279px) {
  .head .menu {
    box-sizing: border-box;
    height: 363px;
    overflow: scroll;
    padding: 16px;
    background-color: #ffffff;
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .head .menu .xmark {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .head .menu h3 {
    font-weight: 700;
    font-size: 10px;
    color: #000000;
    margin: 0;
  }
  .head .menu ul {
    padding-left: 0;
    list-style-type: none;
  }
  .head .menu ul a {
    text-decoration: none;
    font-weight: 400;
    font-size: 10px;
    color: #f16d7f;
  }
  .head .menu ul li {
    padding-top: 2px;
  }
  .head .menu ul li a {
    line-height: 10px;
    margin-left: 30px;
    color: #6f6e6e;
    font-size: 10px;
    font-weight: 400;
  }
}
.head .hidden {
  display: none;
}

.offer .container {
  padding: 64px 16px 0 16px;
}
@media (min-width: 768px) {
  .offer .container .tabble {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .offer .container .tabble .cards4 {
    grid-column: 1/4;
  }
}
.offer .container .tabble a {
  text-decoration: none;
}
.offer .container .tabble .cards {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer .container .tabble .cards .text {
  z-index: 3;
}
.offer .container .tabble .cards .text .up {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
.offer .container .tabble .cards .text .down {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
}
.offer .container .tabble .cards img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: inherit;
  width: 100%;
  filter: brightness(30%);
}
.offer .container .tabble .cards:not(:nth-child(4)) {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .offer .container .tabble .cards:not(:nth-child(4)) {
    margin-bottom: 0;
  }
}
.offer .container .tabble .cards1 {
  width: 100%;
  height: 247px;
}
.offer .container .tabble .cards2 {
  width: 100%;
  height: 247px;
}
.offer .container .tabble .cards3 {
  width: 100%;
  height: 247px;
}
.offer .container .tabble .cards4 {
  width: 100%;
  height: 111px;
}

.products {
  margin-top: 64px;
  padding: 0 8px;
}
@media (min-width: 1024px) {
  .products {
    padding: 0;
  }
}
.products .container .header {
  margin: 0 auto;
}
.products .container .header .up {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: #222222;
}
.products .container .header .down {
  margin-top: 3px;
  margin-bottom: 65px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #9f9f9f;
}
@media (min-width: 768px) {
  .products .container .items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
}
@media (min-width: 1600px) {
  .products .container .items {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }
}
.products .container .items .cards {
  transition: 0.3s;
  cursor: pointer;
}
.products .container .items .cards .img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.products .container .items .cards .img img {
  width: 100%;
}
.products .container .items .cards .img .text {
  padding: 14px;
  box-sizing: border-box;
  border: 1px solid white;
  color: rgb(255, 255, 255);
  position: absolute;
  display: none;
}
.products .container .items .cards .name {
  margin-top: 25px;
  margin-bottom: 13px;
  font-size: 13px;
  font-weight: 400;
  color: #222222;
}
.products .container .items .cards .description {
  font-size: 14px;
  font-weight: 300;
  color: #5d5d5d;
}
.products .container .items .cards .price {
  margin-top: 18px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #f16d7f;
}
.products .container .items :hover img {
  transition: 0.3s;
  filter: brightness(40%);
}
.products .container .items :hover .img .text {
  display: block;
  display: flex;
  align-items: center;
  gap: 15px;
}
.products .container button {
  transition: 0.5s;
  display: block;
  text-align: center;
  cursor: pointer;
  background-color: #f8f8f8;
  margin: 41px auto 96px auto;
  height: 48px;
  width: 212px;
  font-weight: 400;
  font-size: 16px;
  color: #f26376;
  border: 1px solid #ff6a6a;
}
@media (min-width: 768px) {
  .products .container button {
    margin-top: 33px;
    margin-bottom: 65px;
  }
}
@media (min-width: 1024px) {
  .products .container button {
    margin-top: 48px;
    margin-bottom: 96px;
  }
}
.products .container button:hover {
  background-color: #f16d7f;
  color: #f8f8f8;
}

.delivery {
  background-color: #222224;
  padding-top: 48px;
  padding-bottom: 81px;
}
@media (min-width: 1024px) {
  .delivery {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.delivery .container {
  text-align: center;
}
@media (min-width: 1024px) {
  .delivery .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.delivery .container .cont:nth-child(2) {
  margin-top: 45px;
  margin-bottom: 45px;
}
.delivery .container .cont {
  transition: 1s;
  cursor: pointer;
}
.delivery .container .cont img {
  height: 31px;
  width: 43px;
}
.delivery .container .cont .name {
  margin-top: 27px;
  margin-bottom: 15px;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 400;
}
.delivery .container .cont .description {
  font-size: 14px;
  font-weight: 300;
  color: #fbfbfb;
}
.delivery .container .cont:hover {
  background-color: #fff;
}
.delivery .container .cont:hover .name,
.delivery .container .cont:hover .description {
  color: #000000;
}

.take {
  background: url(img/backImg.png) no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 64px;
  padding-bottom: 109px;
}
@media (min-width: 1024px) {
  .take .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.take .container .founder {
  text-align: center;
}
.take .container .founder img {
  margin-top: 55px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.take .container .founder .quote {
  margin-top: 20px;
  font-size: 19px;
  font-weight: 400;
  color: #222224;
}
.take .container .subscribe {
  text-align: center;
  margin-top: 60px;
}
.take .container .subscribe .text_1 {
  font-size: 24px;
  font-weight: 700;
}
.take .container .subscribe .text_2 {
  font-size: 14px;
  font-weight: 400;
}
.take .container .subscribe .message {
  margin-top: 20px;
}
.take .container .subscribe .message form {
  display: inline-flex;
}
.take .container .subscribe .message form input {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 0;
  padding-left: 20px;
  border: 0;
  background-color: #e1e1e1;
  height: 47px;
}
.take .container .subscribe .message form ::-moz-placeholder {
  color: #222224;
  font-size: 14px;
  font-weight: normal;
}
.take .container .subscribe .message form ::placeholder {
  color: #222224;
  font-size: 14px;
  font-weight: normal;
}
.take .container .subscribe .message form button {
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 96px;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  background-color: #f16d7f;
  border: 0;
  padding: 0;
  height: 47px;
}

footer {
  background-color: #222224;
  padding-top: 43px;
  padding-bottom: 9px;
}
@media (min-width: 768px) {
  footer {
    padding: 24px;
  }
}
@media (min-width: 768px) {
  footer .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}
footer .container .messager {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
footer .container .messager .icon {
  background-color: #ffffff;
  fill: #000000;
  width: 32px;
  height: 32px;
}
footer .container .messager :hover path {
  background-color: rgb(255, 255, 255);
  fill: #f16d7f;
}
footer .container .messager :not(:nth-child(4)) {
  margin-right: 10px;
}
footer .container .copyrigth {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 400;
  color: #fbfbfb;
}
@media (min-width: 768px) {
  footer .container .copyrigth {
    margin-top: 0;
  }
}/*# sourceMappingURL=style.css.map */